<div class="d-flex justify-content-center align-items-center mt-5">
    <form class="d-inline-block mx-auto p-4 shadow rounded" id="frmLogin" #frmLogin="ngForm" (ngSubmit)="logUserIn()">
        <h4 class="text-center">Login</h4>

        <div class="form-group mt-3">
            <label for="userId">Email</label>
            <input type="text" name="userId" id="userId" #userId="ngModel" class="form-control" [(ngModel)]="user.userId" required
                pattern='^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$' />

            <div *ngIf="userId.invalid && (userId.dirty || userId.touched)">
                <p *ngIf="userId.errors?.['required']" class="label label-danger text-danger">Email is required</p>
                <p *ngIf="userId.errors?.['pattern']" class="label label-danger text-danger">
                    Invalid email
                </p>
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" #password="ngModel"
                [(ngModel)]="user.password" required minlength="8" pattern="^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{8,}$" />

            <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <p *ngIf="password.errors?.['required']" class="label label-danger text-danger">Password is required</p>
                <p *ngIf="password.errors?.['pattern']" class="label label-danger text-danger">
                    Password must have at least 8 characters with at least one number, one upper charecter, one lower charecter and one special character
                </p>
            </div>
        </div>

        <div class="text-center mt-3 d-flex justify-content-center gap-xs">
            <button type="button" class="btn btn-secondary" routerLink="/signup" [disabled]="processing">Register</button>
            <button class="btn btn-primary" [disabled]="frmLogin.invalid || processing">Login
                <div class="spinner-border spinner-border-sm text-white ml-1" *ngIf="processing" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </button>
        </div>
    </form>
</div>